{% extends "registration/login.html" %}
{% load i18n static simpletags %}
{% block head %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
{% endblock %}

{% block form %}
    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'users:register' %}" class="simpleui-form" id="login-form">
        {% csrf_token %}
        <div class="simpleui-input-inline">
            <el-input prefix-icon="fas fa-user" v-model="username" name="email" placeholder="邮箱" autofocus></el-input>
        </div>
        <div class="simpleui-input-inline">
            <el-input prefix-icon="fas fa-lock" v-model="password" name="password" placeholder="密码"
                      autofocus></el-input>
        </div>
        <div class="simpleui-input-inline">
            <el-input prefix-icon="fas fa-lock" v-model="password2" name="password2" placeholder="密码确认"
                      autofocus></el-input>
        </div>
        <div class="simpleui-input-inline">
            <el-input prefix-icon="fas fa-user" v-model="last_name" name="last_name" placeholder="姓"
                      autofocus></el-input>
        </div>
        <div class="simpleui-input-inline">
            <el-input prefix-icon="fas fa-user" v-model="first_name" name="first_name" placeholder="名"
                      autofocus></el-input>
        </div>
        <div class="simpleui-input-inline login-btn">
            <el-button :icon="loading?'el-icon-loading':''" @click="createUser()"
                       type="primary">注册
            </el-button>
        </div>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    <div class="simpleui-input-inline login-btn">
        <el-button onclick="window.history.back()">返回</el-button>
    </div>
{% endblock %}


{% block login_js %}
    <script type="text/javascript" src="{% static 'users/register.js' %}"></script>
{% endblock %}
